body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;


	transition: background-color ease-in 250ms,
	color ease-in 250ms;
}

body.dark {
	background-color: #686868;
	color: #fff;
}

body.light {
	background-color: #fff;
	color: #111321;
}


input[type="checkbox"] {
	appearance: none;
	visibility: none;
	display: none;
}

.check {
	position: relative;
	display: block;
	width: 40px;
	height: 20px;

	background-color: #fff;
	border: 1px solid #4B48DB;
	border-radius: 20px;
	cursor: pointer;
	overflow: hidden;

	transition: background-color ease-in 250ms,
	color ease-in 250ms;
}

input[type="checkbox"]:checked ~ .check {
	background-color: #4B48DB;
	border-color: #fff;
}

.check:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 1px;
	width: 16px;
	height: 16px;

	background-color: #4B48DB;
	border-radius: 50%;

	transition: background-color ease-in 250ms,
	color ease-in 250ms,
	transform ease-in 250ms;
}

input[type="checkbox"]:checked ~ .check:before {
	transform: translateX(22px);

	background-color: #fff;
}

.check-wrapper{
	display: flex;
	align-items: center;
	gap: 12px;

	
}

.title-light {
	color: #4B48DB;
	transition: color ease-in 250ms;
}

.title-dark {
	color: #5F6775;
	transition: color ease-in 250ms;
}

.title-light.dark {
	color: #F4F4F4;
}

.title-dark.dark {
	color: #4440F7;
}








